.card{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.card > img{
    object-fit: cover;
}

.description{
    padding: 20px;
    width: 500px;
    background-color: rgb(140, 76, 235);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.description > p{
    color: #fff;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 900px)
{
    .description > p{
        font-size: 19px;
    }
}

@media (max-width: 800px)
{   
    .card{
        flex-direction: column;
        gap: 5px;
    }

    .description > p{
        font-size: 20px;
    }
}

@media (max-width: 600px)
{   
    .description{
        width: 400px;
    }

    .description > p{
        font-size: 19px;
    }
}

@media (max-width: 450px)
{   
    .description{
        width: 350px;
    }

    .description > p{
        font-size: 17px;
    }
}