@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.contactBoxContainer{
    width: 100%;
    position: fixed;
    top: 150px;
    z-index: 700;
}

.contactBox{
    width: 550px;
    height: 400px;
    background-color: #000;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 0.1px solid rgb(104, 102, 102);
}

.closeSignContainer{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.closeSignContainer > img{
    width: 30px;
    height: 30px;  
    filter: brightness(0) invert(1); 
    cursor: pointer;
}

.contactDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.email{
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.emailButton{
    text-decoration: none;
    background-color: #e9f18e;
    padding: 10px 30px 10px 30px;
    color: #000;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.socialIcons{
    margin-top: 40px;
}

.socialIcons > a > img{
    width: 60px;
    margin: 20px;
}

@media (max-width: 700px){
    .contactBox{
        width: 430px;
        height: 300px;
    }

    .email{
        font-size: 17px;
    }

    .emailButton{
        padding: 5px 20px 5px 20px
    }

    .socialIcons{
        margin-top: 20px;
    }
}

@media (max-width: 475px){
    .contactBox{
        width: 330px;
        height: 320px;
    }

    .email{
        font-size: 15px;
    }

    .emailButton{
        padding: 5px 20px 5px 20px
    }
}